<html><head>
    <title>PROJECT-NAME - ScratchToolKit</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.png">
    <meta name="description" content="JuegOStrower website with the best tools for Scracth!!!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<!-- Add required scripts here -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/w3.css">
<!-- Add required CSS here -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-82877528-5"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-82877528-5');
    </script>
  </head>
  <body>
    <section class="w3-center w3-container w3-black w3-padding-64">
      <h1 class="project-name">PROJECT-NAME</h1>
		<h2 class="project-tagline">A tool from <a href="/">ScratchToolKit</a>...</h2>
      <a href="/userscripts" class="btn">Userscripts</a>
      <a href="/downloader" class="btn">Downloader</a>
      <a href="/scratchon" class="btn">Scratch On</a>
    </section>
<div style="min-height: calc(100vh - 331px - 54px);" class="w3-PROJECT-COLOR w3-center">
    <div class="w3-padding-32">
      <h2>PROJECT-TITLE</h2>
      <p>PROJECT-DESC</p>
    <div class="w3-container w3-responsive">
PROJECT-CONTENT
  </div>  
	
</div></div>
<footer class="w3-center w3-container w3-black w3-padding-16">
        <span class="site-footer-owner">This site is maintained by <a href="https://scratch.mit.edu/users/JuegOStrower">JuegOStrower</a> in Scratch. See more <a href="me">About me</a></span>
    </footer></body></html>
